<div class="bootstrap-wrapper">
    <div class="container">
       <div class="row mt20">
        <div class="col-md-6 offset-md-3">
            <mat-card>
                <div class="container text-center">
                    <img src="../../../assets/login.png" width="100" height="100">
                </div>
                <h1 class="text-center">Inicio da Sessão</h1>

                <form (ngSubmit)="formSubmit()">

                    <mat-form-field class="full-width" appearance = "outline">
                        <mat-label>Nome de Usuario</mat-label>
                        <input [(ngModel)]="loginData.username" name="username" required matInput placeholder="Digite nome do usuario">
                        <mat-hint>Nome do usuario deve ser valido</mat-hint>
                    </mat-form-field>

                    <mat-form-field class="full-width" appearance = "outline">
                        <mat-label>Senha do Usuario</mat-label>
                        <input [(ngModel)]="loginData.password" name="password" required type="password" required matInput placeholder="Digite a senha do usuario">
                        <mat-hint>Senha do usuario deve ser valida</mat-hint>
                    </mat-form-field>
                    <br><br>

                    <div class="container text-center">
                        <button mat-raised-button color="accent">   Iniciar Sessão</button>
                        <button type="reset" style="margin-left: 20px;" mat-raised-button color="primary">Limpar</button>
                    </div>

                </form>
            </mat-card>
        </div>
       </div>
    </div>
</div>

